<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Teste de cache</title>
</head>
<body>
    <h1>TESTE DE CACHE JAVA</h1>
    <h3>Aluno: Mathias Sirino Basso</h3>
    <form action="/getCacheValue" method="get">
        Chave: <input type="text" name="key">
        <input type="submit" value="consultar">
    </form>
    <form action="/cleanCache" method="post">
        <input type="submit" value="consultar">
    </form>
</body>

<footer>
    <h4>TESTE DE FOOTER</h4>
</footer>

</html>